<%- include Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  <body>
    <%- include Partials/mainnav.ejs%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<!--FOOTER SECTION-->
    <%- include Partials/footer.ejs%>

<!--SCRIPT SECTION-->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
  </body>
</html>
