<!-- File name: edit.ejs
Name: Spandan Patel
Student Id: 301160189
Date: 25/02/2021
ExpressPortfolio - with DB
Copyright © 2021 Centennial College. All rights reserved.-->

<!--HEADER SECTION-->
<%- include ../Partials/header.ejs%>

<!--MAIN NAVIGATION-->
  
    <%- include ../Partials/mainnav.ejs%>

<!--BODY SECTION-->
<div class="text-center">
    <h3 style="margin-top: 10px;font-weight: bold;">Change the Details of the Contact</h3>
    <form method="POST">
        <input type="text" id="nameTextField" name="name" placeholder="Enter Contact Name" value="<%= business.name %>" required>
        <br>
        <input type="tel" id="contactNumberTextField" name="contact_no" placeholder="Enter Contact Number" value="<%= business.contact_no %>" pattern="[(7|8|9)\d{9}" required>
        <br>
        <input type="text" id="emailTextField" name="email" placeholder="Enter Contact Email Address" value="<%= business.email %>" required>
        <br>

        <div class="info-link-black">          
           <button type="submit">Apply Changes in Contact</button>
        </div>  

        <br>
        <div class="info-link-black">          
            <a href="/business-list">Cancel</a>
         </div> 
    </form>
</div>

<!--FOOTER SECTION-->
<%- include ../Partials/footer.ejs%>

<!--SCRIPT SECTION-->
  <%- include ../Partials/script.ejs%>